#main {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    box-sizing: border-box;
    /* Optionally, you can add padding and margin if needed */

}

#header {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    
    /* border-style: solid; */
    border-color: #E2E2E2;
    box-sizing: border-box;
    background-color: #fff;
    /* border-style: solid; */
    border: 1px solid rgb(204, 203, 203)
    
    /* Optionally, you can add padding and margin if needed */

}

#home{
    display: inline-block; /* Ensure the div only takes up the necessary width */
    padding: 0 30px; 
    padding: 0 20px; /* 20px padding on left and right */
    border-right: 1px solid rgb(204, 203, 203);
}

