/* Rectangle 243 */

box-sizing: border-box;

position: absolute;
width: 1651px;
height: 97px;
left: -154px;
top: -30px;

background: #FFFFFF;
border: 1px solid #E2E2E2;
border-radius: 0px 0px 0px 170px;


/* Group 76 */

position: absolute;
width: 123px;
height: 126.3px;
left: 62px;
top: 203px;



/* image 2 */

position: absolute;
width: 123px;
height: 126.3px;
left: 62px;
top: 203px;

background: url(image.png);


/* PATIENT */

position: absolute;
width: 150px;
height: 54px;
left: 332px;
top: 40px;

font-family: 'Reem Kufi Fun';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 54px;
/* identical to box height */

color: #000000;



/* Rectangle 242 */

position: absolute;
width: 1196px;
height: 666px;
left: 363px;
top: 220px;

background: #FFFFFF;


/* image 5 */

position: absolute;
width: 1752px;
height: 841px;

background: url(image.png);
