<div id="main">

    <app-header></app-header>

    <div id="sub">
        <div id="left">



            <div id="image-container">
                <img src="assets/hi-b Logo.png" alt="logo">

            </div>

            <div id="sidebar">
                <tbody>
                    <tr>
                      


                    </tr>
                </tbody>

            </div>



        </div>

        <div id="right">


            <div id="title-container">

                <div id="title">PATIENT LISTING</div>
                <div id="title2">Nurse Caintic</div>

                <table id="table1">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Age</th>
                            <th>Room Number</th>
                            <th>Physician</th>
                        </tr>
                    </thead>
                    <tbody routerLink="/report-page">
                        <tr>
                            <td>Ryan Patalinghug</td>
                            <td>Male</td>
                            <td>22</td>
                            <td>201</td>
                            <td>Dr. Jared</td>
                        </tr>
                        <tr>
                            <td>Alberto Anunciado</td>
                            <td>Male</td>
                            <td>24</td>
                            <td>201</td>
                            <td>Dr. Arnold</td>
                        </tr>
                        <tr>
                            <td>John Galeos</td>
                            <td>Male</td>
                            <td>27</td>
                            <td>201</td>
                            <td>Dr. Manhattan</td>
                        </tr>
                        <tr>
                            <td>Ryan Patalinghug</td>
                            <td>Male</td>
                            <td>22</td>
                            <td>201</td>
                            <td>Dr. Jared</td>
                        </tr>
                        <tr>
                            <td>Alberto Anunciado</td>
                            <td>Male</td>
                            <td>24</td>
                            <td>201</td>
                            <td>Dr. Arnold</td>
                        </tr>
                        <tr>
                            <td>John Galeos</td>
                            <td>Male</td>
                            <td>27</td>
                            <td>201</td>
                            <td>Dr. Manhattan</td>
                        </tr>
                        <tr>
                            <td>Ryan Patalinghug</td>
                            <td>Male</td>
                            <td>22</td>
                            <td>201</td>
                            <td>Dr. Jared</td>
                        </tr>
                        <tr>
                            <td>Alberto Anunciado</td>
                            <td>Male</td>
                            <td>24</td>
                            <td>201</td>
                            <td>Dr. Arnold</td>
                        </tr>
                        <tr>
                            <td>John Galeos</td>
                            <td>Male</td>
                            <td>27</td>
                            <td>201</td>
                            <td>Dr. Manhattan</td>
                        </tr>
                        <tr>
                            <td>Ryan Patalinghug</td>
                            <td>Male</td>
                            <td>22</td>
                            <td>201</td>
                            <td>Dr. Jared</td>
                        </tr>
                        <tr>
                            <td>Alberto Anunciado</td>
                            <td>Male</td>
                            <td>24</td>
                            <td>201</td>
                            <td>Dr. Arnold</td>
                        </tr>
                        <tr>
                            <td>John Galeos</td>
                            <td>Male</td>
                            <td>27</td>
                            <td>201</td>
                            <td>Dr. Manhattan</td>
                        </tr>
                        <tr>
                            <td>Ryan Patalinghug</td>
                            <td>Male</td>
                            <td>22</td>
                            <td>201</td>
                            <td>Dr. Jared</td>
                        </tr>
                        <tr>
                            <td>Alberto Anunciado</td>
                            <td>Male</td>
                            <td>24</td>
                            <td>201</td>
                            <td>Dr. Arnold</td>
                        </tr>
                        <tr>
                            <td>John Galeos</td>
                            <td>Male</td>
                            <td>27</td>
                            <td>201</td>
                            <td>Dr. Manhattan</td>
                        </tr>
                        <tr>
                            <td>Ryan Patalinghug</td>
                            <td>Male</td>
                            <td>22</td>
                            <td>201</td>
                            <td>Dr. Jared</td>
                        </tr>
                        <tr>
                            <td>Alberto Anunciado</td>
                            <td>Male</td>
                            <td>24</td>
                            <td>201</td>
                            <td>Dr. Arnold</td>
                        </tr>





                        <!-- Add more rows as needed -->
                    </tbody>
                </table>





            </div>
        </div>
    </div>

</div>