#main-container{
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: fixed;
    background-color: #F0F0F0;
}
#header{
    position: static;
    background-color: #ffff;
    top: 0px;
    width: 100%;
    /* height: 60px; */
    padding:20px;
    border:solid
}

#header h1{
    width: fit-content;
    /* border: solid; */
    /* left: 20px; */
    /* position: absolute; */
}

#bottom-container{
    border: solid;
    width: 100%;
    height: max-content;
    position: static;
}