<div id="main-container">
    <!-- <div id="header">
        <h1>Hi - B</h1>
    </div> -->
    <app-header></app-header>
    <div id="bottom-container">
        <div id="left-container">
            <img src="/assets/face.png" alt="" id="logo">
            <div id="table-container">
                <table id="personal-information" style="text-align: left;">
                    <tr>
                        <th>Name:</th>
                        <th>Ryan Rama Patalinghug</th>
                    </tr>
                    <tr>
                        <th>Age:</th>
                        <th>70</th>
                    </tr>
                    <tr>
                        <th>Gender:</th>
                        <th>M</th>
                    </tr>
                    <tr>
                        <th>Room Number:</th>
                        <th>201</th>
                    </tr>
                    <tr>
                        <th>Physician</th>
                        <th>Dr. Jared</th>
                    </tr>
                </table>
            </div>
            <div id="lower-btn">
                <button routerLink="/nurse-page">Back to Patient Listing</button>

                <button routerLink="/nurse-daily">Add Daily Report</button>
            </div>
        </div>
        <div id="view-patients-report">
            <h3>Patient Daily Report</h3>
            <table id="patients-report">
                <tr>
                    <th>Day</th>
                    <th>Blood Pressure</th>
                    <th>Heart Rate</th>
                    <th>Temp</th>
                    <th>Weight</th>
                    <th>Mins. Pyhsical Activity</th>
                    <th>Class Of Food Intakes</th>
                    <th>Nurse OTT</th>
                </tr>
                <tr>
                    <td>Monday 09/04/24</td>
                    <td>130</td>
                    <td>75</td>
                    <td>98.6</td>
                    <td>160 lbs</td>
                    <td>45 mins </td>
                    <td>1A</td>
                    <td>Ms. Caintic</td>
                </tr>
                <tr>
                    <td>Tuesday 10/04/24</td>
                    <td>122/78</td>
                    <td>70</td>
                    <td>98.2</td>
                    <td>158 lbs</td>
                    <td>60 mins</td>
                    <td>2B</td>
                    <td>Ms. Caintic</td>

                  </tr>
                  <tr>
                    <td>Wednesday 11/04/24</td>
                    <td>140/85</td>
                    <td>80</td>
                    <td>99.0</td>
                    <td>162 lbs</td>
                    <td>30 mins</td>
                    <td>3C</td>
                    <td>Ms. Caintic</td>

                  </tr>
                  <tr>
                    <td>Thursday 12/04/24</td>
                    <td>128/82</td>
                    <td>72</td>
                    <td>98.8</td>
                    <td>161 lbs</td>
                    <td>50 mins</td>
                    <td>1B</td>
                    <td>Ms. Caintic</td>

                  </tr>
                  <tr>
                    <td>Friday 13/04/24</td>
                    <td>135/79</td>
                    <td>76</td>
                    <td>98.5</td>
                    <td>159 lbs</td>
                    <td>55 mins</td>
                    <td>2A</td>
                    <td>Ms. Caintic</td>

                  </tr>
                  <tr>
                    <td>Monday 16/04/24</td>
                    <td>130</td>
                    <td>75</td>
                    <td>98.6</td>
                    <td>160 lbs</td>
                    <td>45 mins </td>
                    <td>1A</td>
                    <td>Ms. Caintic</td>
                </tr>
                <tr>
                    <td>Tuesday 17/04/24</td>
                    <td>122/78</td>
                    <td>70</td>
                    <td>98.2</td>
                    <td>158 lbs</td>
                    <td>60 mins</td>
                    <td>2B</td>
                    <td>Ms. Caintic</td>

                  </tr>
                  <tr>
                    <td>Wednesday 18/04/24</td>
                    <td>140/85</td>
                    <td>80</td>
                    <td>99.0</td>
                    <td>162 lbs</td>
                    <td>30 mins</td>
                    <td>3C</td>
                    <td>Ms. Caintic</td>

                  </tr>
                  <tr>
                    <td>Thursday 19/04/24</td>
                    <td>128/82</td>
                    <td>72</td>
                    <td>98.8</td>
                    <td>161 lbs</td>
                    <td>50 mins</td>
                    <td>1B</td>
                    <td>Ms. Caintic</td>

                  </tr>
                  <tr>
                    <td>Friday 20/04/24</td>
                    <td>135/79</td>
                    <td>76</td>
                    <td>98.5</td>
                    <td>159 lbs</td>
                    <td>55 mins</td>
                    <td>2A</td>
                    <td>Ms. Caintic</td>

                  </tr>
                  <tr>
                    <td>Monday 23/04/24</td>
                    <td>130</td>
                    <td>75</td>
                    <td>98.6</td>
                    <td>160 lbs</td>
                    <td>45 mins </td>
                    <td>1A</td>
                    <td>Ms. Caintic</td>
                </tr>
                <tr>
                    <td>Tuesday 24/04/24</td>
                    <td>122/78</td>
                    <td>70</td>
                    <td>98.2</td>
                    <td>158 lbs</td>
                    <td>60 mins</td>
                    <td>2B</td>
                    <td>Ms. Caintic</td>

                  </tr>
                  <tr>
                    <td>Wednesday 25/04/24</td>
                    <td>140/85</td>
                    <td>80</td>
                    <td>99.0</td>
                    <td>162 lbs</td>
                    <td>30 mins</td>
                    <td>3C</td>
                    <td>Ms. Caintic</td>

                  </tr>
                  <tr>
                    <td>Thursday 26/04/24</td>
                    <td>128/82</td>
                    <td>72</td>
                    <td>98.8</td>
                    <td>161 lbs</td>
                    <td>50 mins</td>
                    <td>1B</td>
                    <td>Ms. Caintic</td>

                  </tr>
                  <tr>
                    <td>Friday 27/04/24</td>
                    <td>135/79</td>
                    <td>76</td>
                    <td>98.5</td>
                    <td>159 lbs</td>
                    <td>55 mins</td>
                    <td>2A</td>
                    <td>Ms. Caintic</td>

                  </tr><tr>
                    <td>Monday 30/04/24</td>
                    <td>130</td>
                    <td>75</td>
                    <td>98.6</td>
                    <td>160 lbs</td>
                    <td>45 mins </td>
                    <td>1A</td>
                    <td>Ms. Caintic</td>
                </tr>
                <tr>
                    <td>Tuesday 31/04/24</td>
                    <td>122/78</td>
                    <td>70</td>
                    <td>98.2</td>
                    <td>158 lbs</td>
                    <td>60 mins</td>
                    <td>2B</td>
                    <td>Ms. Caintic</td>

                  </tr>
                  <tr>
                    <td>Wednesday 01/05/24</td>
                    <td>140/85</td>
                    <td>80</td>
                    <td>99.0</td>
                    <td>162 lbs</td>
                    <td>30 mins</td>
                    <td>3C</td>
                    <td>Ms. Caintic</td>

                  </tr>
                  <tr>
                    <td>Thursday 02/05/24</td>
                    <td>128/82</td>
                    <td>72</td>
                    <td>98.8</td>
                    <td>161 lbs</td>
                    <td>50 mins</td>
                    <td>1B</td>
                    <td>Ms. Caintic</td>

                  </tr>
                  <tr>
                    <td>Friday 03/05/24</td>
                    <td>135/79</td>
                    <td>76</td>
                    <td>98.5</td>
                    <td>159 lbs</td>
                    <td>55 mins</td>
                    <td>2A</td>
                    <td>Ms. Caintic</td>

                  </tr>
            </table>
        </div>
    </div>
</div>