<div id="main">

    <app-header></app-header>

    <div id="sub">
        <div id="left">



            <div id="image-container">
                <img src="assets/hi-b Logo.png" alt="logo">

            </div>

            <div id="sidebar">
                <tbody>
                    <tr>
                        <td routerLink="/doctor-add">ADD PATIENT</td>



                    </tr>
                </tbody>

            </div>



        </div>

        <div id="right">


            <div id="title-container">

                <div id="title">PATIENT LISTING</div>
                <div id="title2">DR. Manhattan</div>


                <table id="table1">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Age</th>
                            <th>Room Number</th>
                            <th>Admission Date</th>
                        </tr>
                    </thead>
                    <tbody routerLink="/doctor-view">
                        <tr>
                            <td>Ryan Patalinghug</td>
                            <td>Male</td>
                            <td>22</td>
                            <td>201</td>
                            <td>March 3, 2024</td>
                        </tr>

                        <tr>
                            <td>Alberto Anunciado</td>
                            <td>Male</td>
                            <td>22</td>
                            <td>201</td>
                            <td>March 27, 2024</td>
                        </tr>

                        <tr>
                            <td>John Galeos</td>
                            <td>Male</td>
                            <td>22</td>
                            <td>201</td>
                            <td>April 9, 2024</td>
                        </tr>





                        <!-- Add more rows as needed -->
                    </tbody>
                </table>





            </div>
        </div>
    </div>

</div>