<div class="supercontainer">
  <app-header></app-header>
  <div class="containerProMax">
<div class="container">
    <div class="title">Patient Registration</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Full Name</span>
            <input type="text" placeholder="Enter name" required>
          </div>
          <div class="input-box">
            <span class="details">Age</span>
            <input type="text" placeholder="Enter age" required>
          </div>
          <div class="input-box">
            <span class="details">Room number:</span>
            <input type="text" placeholder="Enter room number" required>
          </div>
          
        </div>
        <div class="gender-details">
          <input type="radio" name="gender" id="dot-1">
          <input type="radio" name="gender" id="dot-2">
        
          <span class="gender-title">Gender</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Male</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Female</span>
          </label>
        
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Register" routerLink="/doctor-page">
        </div>
      </form>
    </div>
  </div>
  </div>

</div>